* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
}

.card-wrapper {
  max-width: 317px;
  margin: 10px;
  border-radius: 10px;
  background: #1A1B21;
}
.info-wrapper--dp {
  width: 317px;
  height: 317px;
  background: url(.png);
  border-radius: 10px 10px 0px 0px;
}
.info-wrapper--profile {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  margin-top: 20px;
}
.info-wrapper--profile-name {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
}
.info-wrapper--profile-profession {
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #f3bf99;
}
.info-wrapper--profile-website {
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* identical to box height, or 15px */
  color: #f5f5f5;
}

.info-wrapper--links {
  display: flex;
  height: 34px;
  /* border: 1px solid white; */
  margin: 15px 35px;
  justify-content: space-between;
  align-items: center;
}
.info-wrapper--links--link {
  /* border: 1px solid blue; */
  padding: 9px 14px;
  width: 117px;
  text-decoration: none;
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
.info-wrapper--links--email {
  background: #FFFFFF;
}
.info-wrapper--links--linkedin {
  background: #5093E2;
  color: #ccc;
}

.about-sec {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 33px 34px 0 34px;
  /* background: #1A1B21; */
}
.about-sec--title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #F5F5F5;
}
.about-sec--para {
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
color: #DCDCDC;
}

.interests-sec {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 33px 34px 0 34px;
  /* background: #1A1B21; */
}
.interests-sec--title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #F5F5F5;
}
.interests-sec--para {
  font-weight: 400;
font-size: 10.24px;
line-height: 150%;
color: #DCDCDC;
}

.footer-sec {
  height: 64px;
  display: flex;
  align-items: center;  
  gap: 24px;
  justify-content: center;
  background: #161619;
  margin-top: 24px;
  border-radius: 0px 0px 10px 10px;
}
.icon {
  width: 25px;
  height: 25px;
}

